# Problem inputs
**/data/

# Secrets
cookie

# Compiled stuff / compiled project files
**/target
.scala-build/
.bsp/
.metals/
*.pytest_cache/
.idea/
.vscode/

# Misc
misc/

# MacOS will be MacOS
*.DS_Store
